
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/StyleSheet1.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <legend><a href="http://www.jquery2dotnet.com"><i class="glyphicon glyphicon-globe"></i></a> Sign up!</legend>
            <form action="#" method="post" class="form" role="form">
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <input class="form-control" name="firstname" placeholder="First Name" type="text"
                               required autofocus />
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <input class="form-control" name="lastname" placeholder="Last Name" type="text" required />
                    </div>
                </div>
                <input class="form-control" name="youremail" placeholder="Your Email" type="email" />
                <input class="form-control" name="reenteremail" placeholder="Re-enter Email" type="email" />
                <div class="col-xs-6 col-md-6">
                    <input  class="form-control" name="password" placeholder="Password" type="password" required />
                </div>
                @*<div class="row">
                    <div class='col-xs-12' id='thepwddiv'></div>
                    <script type="text/javascript">
				var pwdwidget = new PasswordWidget('thepwddiv','regpwd');
				pwdwidget.MakePWDWidget();
                    </script>
                    <noscript>
                        <div><input class="form-control" type='password' name='regpwd' /></div>
                    </noscript>
                </div>*@
                @*<label for="">
                    Birth Date
                </label>
                <div class="row">
                    <div class="col-xs-4 col-md-4">
                        <select class="form-control">
                            <option value="Month">Month</option>



                        </select>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <select class="form-control">
                            <option value="Day">Day</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <select class="form-control">
                            <option value="Year">Year</option>
                        </select>
                    </div>
                </div>*@
                <label class="radio-inline">
                    <input type="radio" name="sex" id="inlineCheckbox1" value="male" />
                    Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sex" id="inlineCheckbox2" value="female" />
                    Female
                </label>
                <br />
                <br />
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign up
                </button>
            </form>
            @Html.ActionLink("Already Have an Account? log In", "LogIn", "Home", null)
        </div>
    </div>
</div>